@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LeftImage {
    <img src="/img/piano1.jpg" height="350" width="600" class="center" />
}

@section RightImage {
    <img src="/img/musicSheet.jpg" height="350" width="600" class="center" />
}

<!-- paragraph 1 -->
<div class="column">
    <p>
        I started playing the piano at the age of 3 years old because my mother believed that
        I was too loud of a child and I needed a hobby. After my first piano lesson, I fell in love
        with the instrument. Since then, playing the piano has been a hobby, at times a career because
        I needed to make money as a high school student. 😊
    </p>
</div>

<!-- paragraph 2 -->
<div class="column">
    <p>
        After high school, I ended up pursuing this hobby
        at the university, where I was a piano performance and music composition student. I LOVED playing the piano
        every day, but I felt like I didn't love the hobby anymore. Now, an IS major, my love for piano is still there
        and I am grateful to have the knowledge of playing the piano and whenever I am stressed with school, I find
        myself gravitating towards the piano 🎹
    </p>
</div>
